! special
*.foreground:   #FFFFFF
*.background:   #17171A
*.cursorColor:  #FFFFFF

! Colors 0-15.
*.color0: #101423
*color0:  #101423
*.color1: #FDD957
*color1:  #FDD957
*.color2: #AEA2B9
*color2:  #AEA2B9
*.color3: #D37E7E
*color3:  #D37E7E
!*.color4: #FBCFB5
!*color4:  #FBCFB5
*.color4: #feb7c3
color4:  #feb7c3
*.color5: #FCE2B9
*color5:  #FCE2B9
*.color6: #D5B4D4
*color6:  #D5B4D4
*.color7: #EEFFFF
*color7:  #EEFFFF
*.color8: #A08CBF
*color8:  #A08CBF
*.color9: #FDD957
*color9:  #FDD957
*.color10: #AEA2B9
*color10:  #AEA2B9
*.color11: #D37E7E
*color11:  #D37E7E
*.color12: #FBCFB5
*color12:  #FBCFB5
*.color13: #FCE2B9
*color13:  #FCE2B9
*.color14: #D5B4D4
*color14:  #D5B4D4
*.color15: #EEFFFF
*color15:  #EEFFFF


! Black color that will not be affected by bold highlighting.
*.color66: #241C35
*color66:  #241C35
! ------------------------------------------------------------------------------
! rofi
! ------------------------------------------------------------------------------
rofi.color-enabled: true


rofi.font              : SF Pro Display Regular 11
!rofi.font              : Misc Termsyn 12
rofi.columns           : 1
rofi.separator-style   : none
rofi.hide-scrollbar    : true
rofi.location          : 0
rofi.padding           : 32
rofi.fullscreen        : false
rofi.width             : 300
rofi.lines             : 6

! ------------------------------------------------------------------------------
! ROFI Color theme ARCH
! ------------------------------------------------------------------------------

!rofi.color-enabled: true
!rofi.color-window: argb:df273238, #273238, argb:311e2529
!#rofi.color-normal: argb:00273238, #c1c1c1, argb:3a273238, #394249, #bf616a
!rofi.color-normal: argb:00273238, #c1c1c1, argb:00273238, argb:0f394249, #bf616a
!rofi.color-active: argb:00273238, #80cbc4, argb:3a273238, argb:0f394249, #80cbc4
!rofi.color-urgent: argb:00273238, #ff1844, argb:3a273238, #394249, #ff1844

!#rofi.color-enabled: true
!                  'background', 'border', 'separator'
!#rofi.color-window: argb:c12f343f, argb:cc2f343f, argb:cc2f343f
! State:           'bg',     'fg',     'bgalt',  'hlbg',   'hlfg'
!#rofi.color-normal: argb:002f343f, #d8dee8, argb:002f343f, argb:002f343f, #bf616a
!#rofi.color-active: argb:00273238, #80cbc4, argb:00273238, argb:00394249, #80cbc4
!#rofi.color-active: #2f343f, #b48ead, #2f343f, #2f343f, #93e5cc
!#rofi.color-urgent: #2f343f, #ebcb8b, #2f343f, #2f343f, #ebcb8b

!rofi.width: 100
!rofi.lines: 5
!rofi.columns: 2
!rofi.font: Noto Sans 17
!rofi.bw: 0
!rofi.padding: 400
!rofi.eh: 1
!#rofi.fullscreen: true
!#rofi.separator-style: solid
!rofi.hide-scrollbar: true

! xterm
xterm*font: DejaVu Sans Mono
xterm*faceName: DejaVu Sans Mono:size=11:antialias=false
xterm*loginShell: true
xterm*vt100*geometry: 90x34
xterm*saveLines: 2000
xterm*charClass: 33:48,35:48,37:48,43:48,45-47:48,64:48,95:48,126:48
xterm*termName: xterm-256color
xterm*eightBitInput: false

! URxvt #101423  #070D1F  
URxvt*saveline: 15000
URxvt*termName: rxvt-256color
URxvt*iso14755: false
URxvt*depth: 32
URxvt*scrollBar: false
URxvt*scrollBar_right: false
URxvt*internalBorder: 15
URxvt*externalBorder: 0
!URxvt*letterSpace: -1
URxvt.font: xft:SF Mono:size=11:antialias=true,xft:Inconsolata\ for\ Powerline:size=12

!URxvt.perl-ext-common: default,clipboard,url-select,keyboard-select
!URxvt.copyCommand: xclip -i -selection clipboard
!URxvt.pasteCommand: xclip -o -selection clipboard
!URxvt.keysym.Shift-Control-C: perl:clipboard:copy
!URxvt.keysym.Shift-Control-V: perl:clipboard:paste
URxvt.urlLauncher: exo-open
URxvt.underlineURLs: true
URxvt.urlButton: 1
URxvt.geometry: 70x20
URxvt.tabbed.tabbar-fg: 4
URxvt.tabbed.tabbar-bg: 16
URxvt.tabbed.tab-fg: 15
URxvt.tabbed.tab-bg: 4
URxvt*buffered: false

! UXTerm
UXTerm*termName: xterm-256color
UXTerm*VT100.geometry: 90x30
UXTerm*font: DejaVu Sans Mono
UXTerm*faceSize: 10
UXTerm*dynamicColors: true
UXTerm*utf8: 2
UXTerm*eightBitInput: true
UXTerm*saveLines: 10000
UXTerm*scrollKey: true
UXTerm*scrollTtyOutput: false
UXTerm*scrollBar: false
UXTerm*rightScrollBar: false
UXTerm*jumpScroll: true
UXTerm*multiScroll: true
UXTerm*toolBar: false

! 2bwm
twobwm.border_width: 4
twobwm.outer_border: 2
twobwm.focus_color: #FDD957
twobwm.unfocus_color: #17171A
twobwm.fixed_color: #939490
twobwm.unkill_color: #5E5E5C
twobwm.fixed_unkill_color: #989995
twobwm.outer_border_color: #17171A
twobwm.inverted_colors: false
twobwm.enable_compton: true
